#cart-container {
    position: relative;
}

#cart-total {
    position: absolute;
    top: -5px;
    right: -10px;

    min-width: 20px;
    height: 20px;
    line-height: 20px;

    font-size: 80%;
    font-weight: 700;

    border-radius: 10px;
}